.play-container {
   padding-left: 2%;

   .row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }

   .play-video {
      flex-basis: 69%;

      video {
         width: 100%;
      }

      .tags a {
         color: #0000ff;
         font-size: 13px;
      }

      h3 {
         font-weight: 600;
         font-size: 22px;
      }

      &-info {
         display: flex;
         align-items: center;
         justify-content: space-between;
         flex-wrap: wrap;
         margin-top: 10px;
         font-size: 14px;
         color: #5a5a5a;

         a img {
            width: 20px;
            margin-right: 8px;
         }

         a {
            display: inline-flex;
            align-items: center;
            margin-left: 15px;
         }
      }

      hr {
         border: 0;
         height: 1px;
         background: #ccc;
         margin: 10px 0;
      }

      .plublisher {
         display: flex;
         align-items: center;
         margin-top: 20px;

         div {
            flex: 1;
            line-height: 18px;
         }

         img {
            width: 40px;
            border-radius: 50%;
            margin-right: 15px;
         }

         p {
            color: #000;
            font-weight: 600;
            font-size: 18px;
         }

         span {
            font-size: 13px;
            color: #5a5a5a;
         }

         button {
            background: red;
            color: #fff;
            padding: 8px 30px;
            border: 0;
            outline: 0;
            border-radius: 4px;
            cursor: pointer;
         }
      }

      .vid-description {
         padding-left: 55px;
         margin: 15px 0;

         p {
            font-size: 14px;
            margin-bottom: 5px;
            color: #5a5a5a;
         }

         h4 {
            font-size: 14px;
            color: #5a5a5a;
            margin-top: 15px;
         }

         .add-comment {
            display: flex;
            align-items: center;
            margin: 30px 0;

            img {
               width: 35px;
               border-radius: 50%;
               margin-right: 15px;
            }

            input {
               border: 0;
               outline: 0;
               border-bottom: 1px solid #ccc;
               width: 100%;
               padding-top: 10px;
               background: transparent;
            }
         }

         .old-comment {
            display: flex;
            align-items: center;
            margin: 20px 0;

            img {
               width: 35px;
               border-radius: 50%;
               margin-right: 15px;
            }

            h3 {
               font-size: 14px;
               margin-bottom: 2px;

               span {
                  font-size: 12px;
                  color: #5a5a5a;
                  font-weight: 500;
                  margin-left: 8px;
               }
            }

            .acomment-action {
               display: flex;
               align-items: center;
               margin: 8px 0;
               font-size: 14px;

               img {
                  border-radius: 0;
                  width: 20px;
                  margin-right: 5px;
               }

               span {
                  margin-right: 20px;
                  color: #5a5a5a;
               }

               a {
                  color: #0000ff;
               }
            }

         }
      }
   }



   // ------right-side------
   .right-sidebar {
      flex-basis: 30%;

      .side-video-list {
         display: flex;
         justify-content: space-between;
         margin-bottom: 8px;

         img {
            width: 100%;
         }

         .small-thumbnail {
            flex-basis: 49%;
         }

         .vid-info {
            flex-basis: 49%;
         }
      }
   }
}

@media (max-width: 900px) {

   .play-container {
      padding-left: 5%;

      .right-sidebar {
         flex-basis: 100%;
      }

      .play-video {
         flex-basis: 100%;

         &-info a {
            margin-left: 0;
            margin-right: 15px;
            margin-top: 15px;
         }
      }

   }

   .vid-description {
      padding-left: 0;
   }
}